* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}


window#waybar {
    background: black;
    color: white;
}

window#waybar.firefox {
    background: rgba(12, 12, 13, 1);
    color: white;
}

/*window#waybar.Alacritty {
    background: rgba(24, 24, 24, 1);
    color: white;
}*/

window#waybar.discord {
    background: rgba(32, 34, 37, 1);
    color: white;
}

/*window#waybar.empty {
    background: rgba(12, 12, 13, 0.5);
    color: white;
}*/

window#waybar.empty {
    /*background: rgba(12, 12, 13, 1);*/
    background: black;
    color: white;
}

#window {
    color: #e5e5e5;
    margin-bottom: 4px;
    margin-left: 6px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
    margin: 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-weather {
    margin-right: 5px;
}

#tray,
#mpd {
    margin: 0 4px;
    color: #ffffff;
}

#network,
#cpu,
#pulseaudio,
#custom-xkblayout,
#memory {
    margin: 0 5px;
}

#network {
    color: #fc7e2a;
}

#cpu {
    color: #f44235;
}

#memory {
    color: #35def4;
}

#pulseaudio {
    color: #e1f435;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

